@import '../../../../theme.scss';

.card {
  border: mat-color($mat-gray, 300) 1px solid;
  border-radius: 0.5em;
  background-color:  mat-color($mat-gray, 50);
  padding: 1.5em;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
