<mat-dialog-content class="d-flex flex-column" style="max-height: 90vh;">
  <div class="d-flex">
    <h2 style="flex: 1">Change technology:</h2>
    <div>
      <button mat-stroked-button class="close mb-2" (click)='close()'>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="wrapper">
    <table *ngIf="sectors">
      <thead>
        <th *ngFor='let header of sectors; let j = index'>
          {{ header }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let line of changes; let i = index trackBy: indexTracker;">
          <td>{{ sectors[i] }}</td>
          <td *ngFor="let cell of line; let j = index; trackBy: indexTracker">
            <mat-form-field color='primary' class="w-100">
              <input matInput type='number'  placeholder="Value" [(ngModel)]="changes[i][j]" name="value">
              <span matSuffix class="m2-3">%</span>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-right my-4">
    <button mat-raised-button (click)='save()' color="primary">
      <mat-icon>save</mat-icon> Save changes
    </button>
  </div>
</mat-dialog-content>
