@import '~@angular/material/theming';

.weight-500 {
  font-weight: 500;
}

.divider {
  border-bottom: 1px solid map-get($mat-gray, 300);
  border-top: 1px solid map-get($mat-gray, 300);
}

.model-headers-align .mat-expansion-panel-header-title,
.model-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.model-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
