@import '../../../theme.scss';

th, td {
  min-width: 120px;
  padding: 0.5em;
  text-align: center;
}

td {
  background-color: mat-color($mat-gray, 50);
}

thead {
  border-bottom: 1px solid #333;
  background-color: mat-color($mat-gray, 200);
}

.close {
  min-width: unset;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

td:first-of-type {
  background-color: mat-color($mat-gray, 100);
}
