@import '../../../theme.scss';

th, td {
  min-width: 120px;
  padding: 0.5em;
  text-align: center;
}

td {
  background-color: mat-color($mat-gray, 50);
}

.wrapper {
  overflow: auto;
}

.close {
  min-width: unset;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

td:first-of-type {
  background-color: mat-color($mat-gray, 100);
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

th {
  border-bottom: 1px solid #333;
  background-color: mat-color($mat-gray, 200);
  &:first-of-type {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }
}
