<mat-dialog-content class="d-flex flex-column" style="max-height: unset; overflow: hidden" [class.full]="mode === 'column'">
  <div class="d-flex">
    <h2 style="flex: 1">Edit coefficients:</h2>
    <div>
      <button mat-stroked-button class="close mb-2" (click)='close()'>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form [formGroup]='form' (ngSubmit)="submit($event)" style="height: 90%" class="d-flex flex-column" *ngIf="form" >
    <div class="wrapper">
      <div class="text-center my-4" style="min-height: 100%;" *ngIf="isLoading">
        <mat-spinner diameter="80" class="mx-auto"></mat-spinner>
      </div>

      <table *ngIf="rowHeaders && columnHeaders && values" style="overflow: auto;" [class.d-none]="isLoading">
        <thead>
          <th></th>
          <th *ngFor='let header of columnHeaders; let j = index'>
            {{ header }}
          </th>
        </thead>
        <tbody *ngIf="mode === 'row'">
          <tr>
            <td>{{ rowHeaders[0] }}</td>
            <td *ngFor="let c of form.get('values').value; let i = index">
              <input type='number' [name]="'val-'+i" placeholder="Value" [formControl]="c">
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="mode === 'column'">
          <tr *ngFor="let r of form.get('values').value; let i = index">
            <td>{{ rowHeaders[i] }}</td>
            <td>
              <input type='number' [name]="'val-'+i" placeholder="Value" [formControl]="r">
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="row my-4">
      <div class="col-12 text-center col-sm-6 text-sm-left">
        <button mat-stroked-button type="button" color="accent" (click)="clear()">
          <mat-icon>remove_circle_outline</mat-icon> Clear all
        </button>
      </div>
      <div class="col-12 text-center col-sm-6 text-sm-right">
        <button mat-raised-button type="submit" color="primary">
          <mat-icon>save</mat-icon> Save changes
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
